# Índice
1. [Expresiones booleanas](#bool)
2. [Operadores lógicos](#oplog)
3. [Ejecución condicional: if, elif](#ifs)
4. [Captura de excepciones](#excep)
5. [Funciones](#func)
6. [Iteraciones: bucles for](#for)
7. [Listas](#listas)
8. [Diccionarios](#dicc)

<a id="book"></a>
## Expresiones booleanas

Pueden ser verdaderas (`True`) o falsas (`False`)  
Operadores de comparación: 
* igual: `==` ó `is`  
* distinto de: `!=` ó `is not`   
* mayor: `>`  
* menor: `<`  
* mayor o igual: `>=`  
* menor o igual `<=`

In [62]:
5 == 4

False

In [7]:
5 != 5

False

<a id="oplog"></a>
### Operadores lógicos

`and`, `or` y `not`

In [63]:
x = 10

In [12]:
x > 0 and x < 10

False

In [19]:
h > 0 and not x < 10

NameError: name 'h' is not defined

<a id="ifs"></a>
##  Ejecución condicional: if, elif

La sentencia `if` finaliza con dos puntos y si hay saltos de línea, el bloque debe estar indentado

In [64]:
if x >= 5 and x < 10:
    print('aprobado')
elif x == 10:
    print('Matrícula')
    print('Eres un máquina')
else: print('SUSPENSO')

Matrícula
Eres un máquina

<a id="excep"></a>
## Captura de excepciones

Si se sabe que cierta secuencia de instrucciones puede generar un problema, es posible añadir sentencias para que se ejecuten en caso de error, por ejemplo `try` y `except`

In [5]:
entrada = input('Introduzca la temperatura en Fahrenheit: ')
try:
    farenheit = float(entrada)
    celsius = (farenheit-32) * 5/9
    print(celsius)
except:
    print('Por favor, introduzca un número')

Por favor, introduzca un número

In [27]:
a= 11 + 12
print(a)

a= 13 + 14
print(a)

23
27

In [39]:
a = 5
b = float(a)
print(b)

int(b)

5.0

5

In [41]:
a = int(b)

<a id="func"></a>
## Funciones

Una función recibe argumentos y devuelve resultados
* Funciones internas: `max`, `min`, `len`...
* Funciones de conversión de tipos: `int('32')`, `float(32)`, `str(32)`...
* Funciones matemáticas (hay que importar el módulo `math`): `math.log10(20)`, `math.sin(90)`...

Crear nuevas funciones:

In [28]:
def mi_exponencial(numero,exponente,cte):
    exp = (numero**exponente)-cte
    return(exp)

Llamada a la función

In [30]:
mi_exponencial(5,2,1)

24

In [34]:
def suma(num1,num2):
    return num1+num2

def suma1(num1,num2):
    return (num1+num2)+1

In [35]:
result = suma1(1,5)
print(result)

7

<a id="for"></a>
## Iteraciones: bucles for

En el siguiente ejemplo, la variable `amigos` es una lista de tres strings y el bucle `for` recorre esta lista, utilizando la variable de iteración `amigo`, que cambia en cada ejecución del bucle

In [12]:
amigos = ["Raquel",'Juan', 'Luis', 'Ana']
amigos2 = list(amigos)

for amigo in amigos:
    print('Hola',amigo)

print(amigos2)

Hola Raquel
Hola Juan
Hola Luis
Hola Ana
['Raquel', 'Juan', 'Luis', 'Ana']

Para recorrer un rango de números, podemos usar la función `range()`

In [14]:
for k in range(21,1,-2):
    print(k)

mylist = list(range(21,1,-2))
print(mylist)

21
19
17
15
13
11
9
7
5
3
[21, 19, 17, 15, 13, 11, 9, 7, 5, 3]

<a id="while"></a>
## Bucles while

In [15]:
n = 3
while n>0:
    print(n)
    n = n-1
print('Acción!')

3
2
1
Acción!

Puede usarse la sentencia `break` para salir del bucle cuando se desee.  
Para saltar de una iteración a otra puede utilizarse la sentencia `continue`

<a id="listas"></a>
## Listas

Una lista es una secuencia de valores, que pueden ser de cualquier tipo

In [16]:
l1 = [10,20,30,40]
    
l2 = ['uno','dos','tres']

l3 = ['Hola',2.3,5,[10,20]] # Lista dentro de una lista

for num in l3:
    print(num)

Hola
2.3
5
[10, 20]

El operador corchete permite acceder a los elementos de una lista (los índices comienzan por 0)

In [17]:
l1[0]

10

In [19]:
l1[3]

40

In [25]:
l3[3][1]

20

In [21]:
l1[-2]

30

In [24]:
l1[1:3]

[20, 30]

La función `len` nos da la longitud de una lista

In [ ]:
len(l3)

listaCadena = list("hola")
for n in listaCadena:
  print(n)

len(listaCadena)

## Tuplas

In [27]:
mytuple = ("apple", "banana", "cherry")
mylist = ["apple", "banana", "cherry"]

In [32]:
print(mylist[1])
print(mytuple[1])

banana2
banana

In [33]:
mylist[1]="banana2"
mytuple[1]="banana2"

TypeError: 'tuple' object does not support item assignment

<a id="dicc"></a>
## Diccionarios

Son similares a una lista, pero más genéricos, ya que los índices pueden ser de cualquier tipo. Los diccionarios son asignaciones entre **claves** y **valores**

In [37]:
lista = ['Rafa','Pedro']

Equipo = {'Rafa':'Científico de datos',
         'Pedro':'Arquitecto de datos',
         'Javier':'Ingeniero de datos',
         'Antonio':'Director'}

Para acceder a un elemento de un diccionario lo hago a través de su clave

In [43]:

Equipo['Pedro']

'Mi amigo'

In [42]:
Equipo['Pedro']= "Mi amigo"

In [44]:
Temperaturas = {'May':19.1,'Ene':1.4, 'Feb':2.6, 'Mar':7.1, 'Abr':9.1}

In [52]:
Temperaturas['Ene']

1

In [50]:
Temperaturas.update({'Ene': 1})

In [51]:
Temperaturas

{'May': 19.1, 'Ene': 1, 'Feb': 2.6, 'Mar': 7.1, 'Abr': 9.1}

Para iterar sobre un diccionario:

In [33]:
for key, value in Equipo.items():
    print(key,'-',value)

Rafa - Científico de datos
Pedro - Arquitecto de datos
Javier - Ingeniero de datos
Antonio - Director

In [54]:
Equipo = {'Rafa':'Científico de datos',
         'Pedro':'Arquitecto de datos',
         'Javier':'Ingeniero de datos',
         'Antonio':'Director'}

for key,value in Temperaturas.items():
    print(key,'>',value)

May > 19.1
Ene > 1
Feb > 2.6
Mar > 7.1
Abr > 9.1